extends layout

block content
  h1= title
    
  #sign-upper
    #logo H
    p.signtextbold Froschberg
    p.signtext Linie 26, 27, 46
  #sign-lower
    p #{data}

block foot
  p #[a(href="http://wolfgang-ziegler.com") Wolfgang Ziegler] #[span &#169; #{year}]  