doctype html
html
  head
    title= title
    meta(http-equiv="refresh", content="20")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      block head
    block content
    footer
      block foot
